@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
    box-sizing: border-box;
  }
  
  body, html {
    height: calc(100% + 9em);
    margin: 0;
    font-family: 'Montserrat';
    background-color: white;
}
body {
        
  min-height: 100vh;
  background-color: #EB3A70;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a00fb', endColorstr='#e600ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-attachment: fixed;

}

  .sighnup-form{
    width: 400px;
    background: white;
    
    padding: 50px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 580px;
    transform: translate(-50%,-50%);
  }
  
  .login-form h1{
    text-align: center;
    margin-bottom: 60px;
  }
  
  .txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
  }
  
  .txtb input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
  }
  
  .txtb span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
  }
  
  .txtb span::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    /*background: linear-gradient(120deg,#3498db,#8e44ad);*/
    transition: .5s;
  }
  
  .focus + span::before{
    top: -5px;
  }
 
  
 
  
  .next_btn:hover{
    background-position: right;
  }
  
  .bottom-text{
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
  }

  /* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(238, 238, 238);
    outline-style: dott ed;
    outline: black;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #EF0D50;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @media only screen and (min-width: 768px) {
    .sighnup-form{
      width: 660px;
      background: #f1f1f1;
      height: 880px;
      padding: 50px 40px;
      border-radius: 10px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }